.fullscreenOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: hidden;
}
/* メイン領域 */
.fullscreenOverlay .main {
    height: 100%;
    padding-top: 80px;
    padding-bottom: 16px;
}

/* メニュー */
.fullscreenOverlay nav {
    position: relative;
    height: 100%;
    text-align: center;
    font-size: 48px;
    overflow: auto;
}
.fullscreenOverlay ul {
    padding: 0;
    margin: 0 auto;
    list-style: none;
    display: inline-block;
}
.fullscreenOverlay ul li {
    display: block;
    height: 80px;
}
.fullscreenOverlay ul li a {
    display: block;
    font-weight: 300;
    color: #fff;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}
.fullscreenOverlay ul li a:hover, .overlay ul li a:focus {
    color: #e3fcb1;
}

/* フェードイン開始 */
.fadeIn.ng-hide-remove {
    display: block !important;
    opacity: 0.0;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

/* フェードイン終了 */
.fadeIn.ng-hide-remove.ng-hide-remove-active {
    opacity: 1.0;
}

/* フェードアウト開始 */
.fadeOut.ng-hide-add {
    display: block !important;
    opacity: 1.0;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

/* フェードアウト終了 */
.fadeOut.ng-hide-add.ng-hide-add-active {
    opacity: 0.0;
}

/* メニュー回転表示トランジション開始 */
.fadeIn.ng-hide-remove nav {
    opacity: 0.5;
    -webkit-transform: translateY(-25%) rotateX(35deg) rotateY(720deg);
    transform: translateY(-25%) rotateX(35deg) rotateY(720deg);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

/* メニュー回転表示トランジション終了 */
.fadeIn.ng-hide-remove.ng-hide-remove-active nav {
    opacity: 1.0;
    -webkit-transform: translateY(0%) rotateX(0deg) rotateY(0deg);
    transform: translateY(0%) rotateX(0deg) rotateY(0deg);
}

/* メニュー回転非表示トランジション開始 */
.fadeOut.ng-hide-add nav {
    opacity: 1.0;
    -webkit-transform: translateY(0%) rotateX(0deg);
    transform: translateY(0%) rotateX(0deg);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

/* メニュー回転非表示トランジション終了 */
.fadeOut.ng-hide-add.ng-hide-add-active nav {
    opacity: 0.0;
    -webkit-transform: translateY(25%) rotateX(-35deg);
    transform: translateY(25%) rotateX(-35deg);
}
