<!doctype html>
<html ng-app="myApp" lang="ja">
<head>
<meta charset="utf-8">
<title>Egrid Bingo</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bingo.css">
<script src="angularjs/1.4.8/angular.min.js"></script>
<script src="angularjs/1.4.8/angular-animate.min.js"></script>
<script src="js/bingo.js"></script>

</head>
<body ng-controller="MyController" ng-style="backg">
  <table align="center">
    <tr>
      <td>
        <img src="img/button.png" width="150" height="60" ng-click="onclick()" ng-disabled="checkValue"></img>
      </td>
    </tr>
    <tr>
      <td>
        <canvas id="canvas-container" ng-style="canvasstyle" width="960"></canvas>
      </td>
    </tr>
    <tr>
      <td>
        <table align="center">
          <tr>
            <td>
              <img src="img/BINGO.png" height="300"></img>&nbsp;&nbsp;
            </td>
            <td>
              <table>
                <tr ng-repeat="arr in items track by $index">
                  <td ng-repeat="item in arr">
                    <img ng-show="item.flg" ng-style="rotat" ng-src="{{item.img}}" width="60" height="60"></img>
                    <img ng-hide="item.flg" ng-src="{{item.img}}" width="60" height="60"></img>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
<div class="fullscreenOverlay fadeIn fadeOut" ng-show="isFullscreenOverlayActive">
  <div class="main">
    <nav>
      <ul>
        <div class="center-block">
          <img width="150" height="150" ng-src="{{resultitem}}">
        </div>
        <img src="img/ok.png" width="120" height="60" ng-click="closeFullscreenOverlay();"></img>
      </ul>
    </nav>
  </div>
</div>
<br>
</body>
</html>
